@use 'partials/variables' as v;

header {
  margin-top: v.$navbar-height;
  position: relative;
  overflow: hidden;
  top: -75px !important;
}

.mt-4 {
  margin-top: -9.5rem !important;
}

.header-section {
  margin-top: 1rem;
  padding-top: 1.5rem;
  text-align: center;

  h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .texto {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.6;
    color: #444;
  }
}

.hero-line,
.hero-line-clima {
  height: 3px;
  margin: 0 auto 1rem auto;
  background-color: v.$color-primary;
  border: none;
}

.hero-line { width: 50%; }
.hero-line-clima { width: 20%; }