@use 'partials/variables' as v;

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 700;
}

.texto {
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  color: v.$color-text;
}