$navbar-height: 70px;
$color-primary: #00bcd4;
$color-text: #222;
$color-light: #f8f9fa;
$color-dark: #000;

// Breakpoints principales
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
