@use 'variables' as v;

@media (max-width: map-get(v.$breakpoints, md)) {
  header {
    top: 4.1rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
  }

  .imgnb { width: 35px; }

  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }

  .texto { font-size: 0.9rem; }

  .card-title { font-size: 1.2rem; }
  .card-text { font-size: 0.9rem; }

  .bt {
    font-size: 0.9rem;
    font-weight: 700;
  }

  #footer {
    h1 { font-size: 1.5rem; }
    i { font-size: 1.5rem; }
  }

  .header-section { padding: 1rem; }
  .card { margin-bottom: 1rem; }
}