@use 'partials/variables' as v;
@use 'partials/reset';
@use 'partials/navbar';
@use 'partials/header';
@use 'partials/carousel';
@use 'partials/typography';
@use 'partials/cards';
@use 'partials/contact';
@use 'partials/footer';
@use 'partials/responsive';